.site-logo {
  width: 100px;
  height: 50px;
  padding: 5px 0;
  margin-right: 15px;
  object-fit: contain;
}

.site-title {
  padding-left: 0;
  font-size: 24px;
  font-weight: 500;
}

.site-header {
  height: 60px;
  max-height: 60px;
  display: flex;
  align-items: center;
}

.main-header {
  padding-top: 5px;
  padding-bottom: 5px;
}
