.site-logo {
  width: 120px;
  height: 60px;
  padding: 5px;
  margin-right: 0;
  object-fit: contain;
  display: flex;
  align-self: center;
  background-position: left center;
  background-size: contain;
}